@media screen and (max-width: 1000px) {
    .text{
        width: 80%;
    }
    .lembrar{
        font-size: 13px;
        padding: 25px 0px;
    }
    .login p{
        padding-top: 10px;
    }
    #login{
        font-size: 1.2em;
        height: 28px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .login h2{
        padding-top: 25px;
        font-size: 2rem;
    }
    .text p{
        font-size: 2vw;
    }
    .text h2{
        font-size: 8vw;
    }
    .text h3{
        font-size: 4vw;
    }
    

}
@media screen and (max-width: 800px){
        
    nav a{
        font-size: 14px;
    }
    .login p{
        font-size: 13px;
    }



    }
@media screen and (min-width: 0px) and (max-width: 600px) {
    body{
        overflow: hidden;
    }
    main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner{
        width: 100%;
    }
    .text {
        display: none;
    }
    #email{
        margin-left: 5%;
    }
    #senha{
        margin-left: 5%;
    }
    .icon{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-left: -10px;

        
    }
    .login{
        backdrop-filter: none;
        position: absolute;
        width: 100%;
        top: 00%;
        height: 100%;
    }
    .login h2{
        font-size: 2em;
    }
    .lembrar{
        font-size: 12px;
        display: block;
        width: 100%;
        margin-left: 0%;
        text-align: center;
        
    }
    .login h2{
        padding-top: 20px;
    }
    .login p {
        font-size: 12px;
    }
    .op{
        display: none;
    }
    #burguer{
        display: block;
        color: #fff;
        cursor: pointer;
    }
    
    
}